@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

html {
  font-family: "Manrope", sans-serif;
  background: #f8fafc;
  color: #18181b;
}

.text-muted {
  color: #4b5563;
}

.hero-heading {
  font-size: clamp(32px, 6vw, 56px);
}
